<footer>
  <div>
    <div class="footer-top">
      <span class="logo-span"><img src="/img/barangay-logo.png" class="footer-img" alt="" />Mag-Asawang Sapa, <br> Santa Maria, Bulacan</span>
    </div>

    <hr />

    <div class="footer-bottom">
      <span>&copy; All Rights Reserved 2022</span>
      <ul class="socials">
        <li><a href="https://www.facebook.com/barangay.magasawangsapa.79" target="_blank" ><img class="social-icons icons" src="/img/facebook.svg" alt=""></a></li>
      </li>
    </div>
  </div>
</footer>
