.content {
  border-top: 4px solid #001122;

  border-radius: 3px;
  padding: 2rem 1.5rem;
  width: 95%;
  background-color: white;
  margin: auto;
  margin-block: 2rem;
}

h1 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(360, 0%, 70%);
}
h2 {
  margin-inline: auto;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.statistics {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  > div {
    box-shadow: 0px 5px 10px #e1e5ee;
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    > div:nth-child(1) {
      width: 25%;
    }
    > div:nth-child(2) {
      width: 75%;
    }
  }
}

.icon-wrapper {
  padding: 1rem;
  background-color: #001122;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics-icon {
  filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(51deg)
    brightness(3000%) contrast(93%);
}

// .house-icon {
//   filter: invert(54%) sepia(14%) saturate(2265%) hue-rotate(341deg)
//     brightness(85%) contrast(86%);
// }
.male-icon {
  filter: invert(54%) sepia(46%) saturate(2216%) hue-rotate(194deg)
    brightness(102%) contrast(107%);
}
.female-icon {
  filter: invert(52%) sepia(57%) saturate(3161%) hue-rotate(288deg)
    brightness(101%) contrast(101%);
}
.statistics-count {
  font-weight: bold;
  font-size: 1.2rem;
  margin-block: 0.4rem;
}
.statistics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
