.content {
  border-top: 4px solid #001122;

  border-radius: 3px;
  padding: 2rem 1.5rem;
  width: 95%;
  background-color: white;
  margin: auto;
  margin-block: 2rem;
}

// Table Styles

.stats-svg {
  font-size: 1rem;
  width: 30px;
}

.resident-head-title {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(360, 0%, 70%);
}

.table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  box-shadow: 0px 5px 10px #e1e5ee;

  td,
  th {
    padding: 1rem;
    text-align: center;
  }
  thead {
    box-shadow: 0px 5px 10px #e1e5ee;
  }

  tbody tr:nth-child(even) {
    background-color: #f4f6fb;
  }
}

.resident-img {
  display: block;
  margin: auto;
  width: 40px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  > a {
    padding: 0.2rem;
    border-radius: 5px;
  }
  > a:nth-child(1) {
    background-color: #0074fe;
  }
  > a:nth-child(2) {
    background-color: #17923e;
  }
  > a:nth-child(3) {
    background-color: #e14744;
  }
  img {
    filter: invert(100%) sepia(5%) saturate(7462%) hue-rotate(214deg)
      brightness(102%) contrast(109%);
  }
}

.action-icons {
  cursor: pointer;
  width: 25px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: hsla(210, 100%, 7%, 0.95);
  padding-top: 50px;
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Set a style for all buttons */
  button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn,
  .deletebtn {
    float: left;
    width: 50%;
  }

  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }

  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }

  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
}
